		</td>
		<td class="right" align="right"><img src="images/spacer.gif" width="54" height="1" alt="" /></td>
	</tr>
	<tr>
		<td class="left_bottom"><div class="rolls"><img src="images/spacer.gif" width="54" height="60" alt="" /></div></td>
		<td class="center_bottom" width="100%" align="center" ><div class="rolls"><img src="images/spacer.gif" width="1" height="60" alt="" /></div></td>
		<td class="right_bottom"><div class="rolls"><img src="images/spacer.gif" width="54" height="60" alt="" /></div></td>
	</tr>
</table>
