	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>


	<div id="wrapfooter">
   <!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
   <span class="copyright">{CREDIT_LINE}
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<br />Thème 3myl_parchemin réalisé par <strong><a href="http://www.mylimages.com/" target="_blank">SGo</a></strong>
	<br />Thème 3myl_parchemin mis à jour par <strong><a href="http://eboulme.free.fr/index.php/" target="_self">Vintagerccar</a></strong>
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --><br /><br /></span>
</div>
		</td>
		<td class="right" align="right"><img src="images/spacer.gif" width="54" height="1" alt="" /></td>
	</tr>
	<tr>
		<td class="left_bottom"><img src="images/spacer.gif" width="54" height="60" alt="" /></td>
		<td class="center_bottom" width="100%" align="center" ><img src="images/spacer.gif" width="1" height="60" alt="" /></td>
		<td class="right_bottom"><img src="images/spacer.gif" width="54" height="60" alt="" /></td>
	</tr>
</table>

</body>
</html>